<ion-header [translucent]="true">

</ion-header>

<ion-content class="ion-padding">
<div class="title">
  <h4 color="secondary">Faites votre opération</h4>
<p color="primary">Commencez !</p>
</div>
<ion-list>
  <ion-item>
    <ion-label>Type d'opération</ion-label>
    <ion-select [(ngModel)]="operationType">
      <ion-select-option value="entrée">Enregistrer une entrée</ion-select-option>
      <ion-select-option value="sortie">Enregistrer une sortie</ion-select-option>
      <ion-select-option value="pret">Faire un prêt</ion-select-option>
      <ion-select-option value="credit">Emprunter un crédit</ion-select-option>
      <ion-select-option value="epargne">Epargner</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Montant</ion-label>
    <ion-input type="number" [(ngModel)]="amount"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Libellé</ion-label>
    <ion-input type="text" [(ngModel)]="label"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Date d'enregistrement</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]="date"></ion-datetime>
  </ion-item>
</ion-list>
<div class="ion-margin-top"><ion-button expand="block" (click)="sauvegarder()" color="secondary">Sauvegarder</ion-button></div>
</ion-content>
